# Environment
.env
.venv
venv
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Data & outputs (optionnel : décommenter si vous ne versionnez pas les données)
# data/streaming_tweets/
# data/checkpoint_streaming/
# data/streaming_results/
# data/sentiment_results/
# data/graphs/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
